/.venv
/templates/old
/build
/dist
/__pycache__
/docsheet
/main
modulPDF.spec
docsheet.zip
.gitignore
Новый текстовый документ.txt
test.py
test.pdf
pdfreader.py
docsheet.zip
/templates/ttn.html
/templates/ttn1.html
/templates/report_all_data.html
/templates/shift_report.html