<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Что-то пошло не так</title>
</head>
<body style="background-color:black";>
<div style="color:white;">Что-то пошло не так</div>
<div class="flash-message" style="color:white;">Error compation docsheet
{% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    {{ message }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}</div>
    <form method="POST" action="/" style="text-align: left; color:white;">
        <div>
            <button type="submit" formaction="/">Вернуться обратно</button>
        </div>
    </form>


</body>
</html>